extends layout


block content
    h1= title

    ul
        each leider in leider_list
            li(style='margin:2%;padding: 10px;overflow: auto;background: rgba(222, 3, 42, 0.20); margin-right: 25%;')
                img(src=leider.fotolink style='width: 100px;float:right;margin-right:5%;')
                p(style='font: bold 20px/1.5 Helvetica, Verdana, sans-serif;') #{leider.naam}
                p leeftijd: #{leider.leeftijd} jaar
                p Groep: #{leider.groep}





        else
            li Er zijn geen leidsters.