extends layout

block content
    h1= title

    ul
        each groep in groepen_list
            li
                h2 #{groep.naam}
                each val in groep.leden
                    div(class='row')
                        div(class='col-sm-3')
                            p naam: #{val.naam}
                        div(class='col-sm-3')
                            p leeftijd: #{val.leeftijd} jaar
                        div(class='col-sm-6')
                            p Email Contactpersoon: #{val.email}
                else
                    li Er zijn geen leden in deze groep.
